.results-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-results-container {
  width: 90vw;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem;
  margin: 2rem;
  
}

.plant-flower-image {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain the aspect ratio */
  margin-right: 10px; /* Add spacing between the image and search results */
}

