.results-page {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-results-container {
  height: 40%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-container {
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: right;
  margin-right: 2%;
}

.image {
  width: auto;
  height: 80%;
  position: absolute;
  margin: -8em;
}

@media (max-width: 650px) {
  .image {
    display: none;
  }
}

