.info-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 77vh;
}

.blueBirds-image {
  height: 40em;
  
}

h4 {
  font-weight: 600;
}
.about-us{
  background-color: #f6fedbcb;
  border-top: .25rem solid #4B7F52;
  display: flex;
  justify-content: space-around;
}