body {
  background-color: #b6c454;
}

.header {
  height: 15vh;
  background-color: #f6fedbcb;
  border: .25rem solid #4B7F52;
  border-radius: .15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nest-image {
  margin-left: 20%;
  min-width: 1em;
  min-height: 1em;
  max-height: 6em;
  max-width: 6em;
}

.nest-image:hover {
  transform: scale(1.2)
}

.title-styling {
  margin-right: 5%;
}

@media (max-width: 375px) {
  .title-styling {
    width: 60%;
  }
}

@media (max-width: 430px) {
  .header {
    height: 20vh;
  }
}