body {
  background-color: #b6c454;
}

.header {
  background-color: #f6fedbcb;
  border: .25rem solid #4B7F52;
  border-radius: .55rem;
  display: flex;
  justify-content: space-between;
  padding: .75rem;
}

.nest-image {
  min-width: 1em;
  min-height: 1em;
  max-height: 6em;
  max-width: 6em;
}

.nest-image:hover {
  transform: scale(1.2)
}