body {
  background-color: #b6c454;
}

.header {
  background-color: #f6fedbcb;
  border: .25rem solid #4B7F52;
  border-radius: .15rem;
  display: flex;
  justify-content: space-between;
  padding: .75rem;
}

.nest-image {
  min-width: 3em;
  min-height: 7em;
  max-height: 7em;
  max-width: 6em
}