.result-card {
  display:flex;
  flex-direction: column;
  align-items: center;
  max-width: 15rem;
  max-height: 22rem;
  border: .10rem solid #80b0c3;
  background-color: #fffaf5af;
  border-radius: 1.25rem;
  margin: .75rem;
  padding: .25rem;
}

.card-controls {
  filter: sepia(80%) saturate(90%) grayscale(0) contrast(99%) invert(12%);
  scale: .65
}

.more-info{
  width: 8rem;
  height: 2rem;
}

@media (max-width: 320px) {
  .search-results-container {
    grid-template-columns: repeat(1, 1fr); /* Show one column on smaller screens */
  }
}

@media (min-width: 321px) and (max-width: 767px) {
.search-results-container {
  grid-template-columns: repeat(2, 1fr); 
}
}

@media (min-width: 768px) and (max-width: 1200px) {
.search-results-container {
  grid-template-columns: repeat(3, 1fr);
}
}

@media (min-width: 1201px) {
.search-results-container {
  grid-template-columns: repeat(4, 1fr); 
}
}

.result-card {
  max-width: 100%; 
  margin: 1rem; 
}
