.result-card {
  display:flex;
  flex-direction: column;
  align-items: center;
  max-width: 15rem;
  max-height: 22rem;
  border: .10rem solid #80b0c3;
  background-color: #fffaf5af;
  border-radius: 1.25rem;
  margin: .75rem;
  padding: .25rem;
}

.card-detail {
  margin: .4rem;

}
.card-controls {
  filter: sepia(80%) saturate(90%) grayscale(0) contrast(99%) invert(12%);
  scale: .65
  
}

.more-info{
  margin: .5rem;
  width: 8rem;
  height: 2rem;
}