.result-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: .33rem solid #4B7F52;
  background-color: #fffaf5af;
  border-radius: 1.25rem;
  margin: 1%;
}

.card-controls {
  filter: sepia(80%) saturate(90%) grayscale(0) contrast(99%) invert(12%);
  scale: .65;
}

.more-info {
  width: 8rem;
  height: 2rem;
  color: black;
  background-color: #b6c454;
  font-weight: bold;
}

/* @media (max-width: 660px) {
  .result-card {
    width: 1.5rem;
  } 
} */

