.bird-info-container {
  border: 0rem solid #80b0c3;
  height: 85vh;
  display: flex;
  justify-content: space-around;
  align-items: center; 
}

.bird {
  max-height: 80vh;
}

.bird-data-container {
  height: 80%;
  width: 60%;
  border: 0.3rem solid #4B7F52;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: #f6fedbcb;
  padding: 2em;
}

h3 {
  text-transform: uppercase;
  font-size: 1.5em;
}

.audio-details-container {
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.bird-info-audio {
  align-items: center;
  /* margin-left: 15em; */
  border: 0.23rem solid #4B7F52;
  border-radius: 30px;
}

.osci-image {
  height: 80px;
  width: 100%;
  transition: opacity 0.3s ease-in-out;
  border: 2px solid #4B7F52;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  align-items: center;
  background-color: yellowgreen;
}

.osci-image:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

@media (max-width: 1024px) {
  .bird {
    height: 70%;
  }
}

@media (max-width: 850px) {
  .bird {
    height: 60%;
  }
}

@media (max-width: 768px) {
  .bird {
    height: 50%;
  }
}

@media (max-width: 690px) {
  .bird {
    display: none;
  }

  .bird-data-container {
    height: 80%;
    width: 80%;
    border: 0.3rem solid #4B7F52;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #f6fedbcb;
  }
}

@media (max-width: 525px) {
  .bird-data-container {
    height: 90%;
  }
}

@media (max-width: 375px) {
  .osci-image {
    display: none;
  }

  .bird-data-container {
    height: 80%;
  }

  .bird-info-audio {
    width: 95%;
  }
}

/* .sono-image {
  height: 80px;
  width: 60%;
  margin-top: 10%;
  transition: opacity 0.3s ease-in-out;
  border: 2px solid #4B7F52;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
} */

/* @media (max-width: 320px) {
  .bird-data-container {
    width: 90%;
  }

  .audio-details-container {
    width: 80%;
  }

  .osci-image {
    width: 80%;
  }
} */

/* @media (min-width: 321px) and (max-width: 768px) {
  .bird-data-container {
    width: 70%;
  }

  .audio-details-container {
    width: 60%;
  }
} */
/* 
@media (min-width: 769px) and (max-width: 1200px) {
  .bird-data-container {
    width: 50%;
  }

  .audio-details-container {
    width: 40%;
  }
} */
